:host{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.canto-left-top{
  background: url('../../../assets/images/borda-left-top.png') no-repeat;
  position: fixed;

  width: 76px;
  height: 76px;

  top: 0;
  left: 0;

  z-index: 9999;
}

.canto-left-bottom{
  background: url('../../../assets/images/borda-left-bottom.png') no-repeat;
  position: fixed;

  width: 76px;
  height: 76px;

  bottom: 0;
  left: 0;

  z-index: 9999;
}

.canto-right-top{
  background: url('../../../assets/images/borda-right-top.png') no-repeat;
  position: fixed;

  width: 76px;
  height: 76px;

  top: 0;
  right: 0;

  z-index: 9999;
}

.canto-right-bottom{
  background: url('../../../assets/images/borda-right-bottom.png') no-repeat;
  position: fixed;

  width: 76px;
  height: 76px;

  bottom: 0;
  right: 0;

  z-index: 9999;
}

.borda-top{
  background: url('../../../assets/images/borda-top.png') repeat-x;
  position: fixed;

  width: 100%;
  height: 19px;

  top: 0;

  z-index: 9998;
}

.borda-right{
  background: url('../../../assets/images/borda-right.png') repeat-y;
  position: fixed;

  height: 100%;
  width: 19px;

  right: 0;

  z-index: 9998;
}

.borda-bottom{
  background: url('../../../assets/images/borda-bottom.png') repeat-x;
  position: fixed;

  width: 100%;
  height: 19px;

  bottom: 0;

  z-index: 9998;
}

.borda-left{
  background: url('../../../assets/images/borda-left.png') repeat-y;
  position: fixed;

  height: 100%;
  width: 19px;

  left: 0;

  z-index: 9998;
}

