<ng-template ngFor let-mapa [ngForOf]="positionMap" async>

  <section class="mapa" *ngIf="mapa.disabled"
    [ngStyle]="{'top': mapa.x + 'px', 'left': mapa.y + 'px', 'width': mapa.width + 'px', 'height': mapa.height + 'px', 'background': mapa.background}"
    [ngClass]="{'desactive-mapa': !mapa.mapSelected}">

    <article class="tips-mapa" *ngFor="let tips of mapa.positionTips; let iTips = index"
      [ngStyle]="{'top': tips.x + 'px', 'left': tips.y + 'px'}" (click)="moveHeroToTips(tips.id)">
      <img src="./assets/images/details/actions/btn/btn-tips.png" alt="Detalhes no Mapa">
    </article>

    <article class="next-mapa" *ngFor="let next of mapa.positionFromTo"
      [ngStyle]="{'top': next.from.x + 'px', 'left': next.from.y + 'px' }" (click)="moveHeroFromToMap(next.to.mapaId)">
      <img src="./assets/images/details/actions/btn/btn-next-map.png" alt="Próximo Mapa">
    </article>

    <ng-template ngFor let-enemy [ngForOf]="mapa.positionEnemy" let-i="index">
      <article class="enemy-mapa" (click)="atkEnemy(enemy)"
        [ngStyle]="{'top': enemy.x + 'px', 'left': enemy.y + 'px', 'background': enemy.avatar }"
        [ngClass]="{'flash': enemy.actionFightAnimate}">

        <div class="enemy-selected">
          <input type="radio" [id]="i" name="enemy">
          <label [for]="i"></label>
        </div>

        <div class="text-hp">{{enemy.attribute.hp}} / {{enemy.attribute.max_hp}}</div>
        <div class="real-hp" [ngStyle]="{'width': c((enemy.attribute.hp * 100) / enemy.attribute.max_hp)}"></div>
        <div class="max-hp"></div>

      </article>
    </ng-template>

  </section>

</ng-template>

<game-fighting-system *ngIf="positionHero.actionFight"></game-fighting-system>
