<ng-template ngFor let-map [ngForOf]="positionMap" async>
  <section class="mapa" *ngIf="map.disabled"
    [ngStyle]="{'top': map.x + 'px', 'left': map.y + 'px', 'width': map.width + 'px', 'height': map.height + 'px', 'background': map.background }">

    <article *ngFor="let tips of map.positionTips; let iTips = index" class="tips-mapa"
      [ngStyle]="{'top': tips.x + 'px', 'left': tips.y + 'px'}">
      <img src="./assets/images/details/actions/btn/btn-tips.png" alt="Detalhes no Mapa">
      <ul>
        <li (click)="moveHeroToMap(tips.id)">
          Checar
        </li>
      </ul>
    </article>

    <article class="next-mapa" *ngFor="let item of map.positionFromTo"
      [ngStyle]="{'top': item.from.x + 'px', 'left': item.from.y + 'px' }" (click)="moveHeroFromToMap(item.to.mapaId)">
      <img src="./assets/images/details/actions/btn/btn-next-map.png" alt="Próximo Mapa">
    </article>
  </section>
</ng-template>
